.studio {
  position: relative;
  color: #2196f3;

  &::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
  }
}
