html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 2px solid tomato;
}

// li {
//   background-color: rgba(159, 223, 217, 0.808);
// }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* Common styles */

.link {
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  color: inherit;


  &:hover,
  &:focus {
    color: var(--hover-color);
    fill: var(--hover-color);
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);

  @media screen and (min-width: 480px) {
    font-size: 28px;
    line-height: 1.18;
  }

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.18;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
  }
}