:root {
  --main-text-color: #757575;
  --dark-bg-color: #2f303a;
  --ligth-bg-color: #f5f4fa;
  --color-title: #212121;
  --hover-color: #2196f3;
  --main-bg-color: #ffffff;
  --logo-font: 'Raleway', sans-serif;
  --second-logo-color: #000000;
  --hero-button-bg-color: #188ce8;
  --social-links-color: #afb1b8;
  --overlay-bg-color: rgba(33, 150, 243, 0.9);
  --comment-field-placeholder: rgba(117, 117, 117, 0.5);
}
